body {
  background-color: #FCC2AC;
}

.sopa-header {
  background-color: #972a2d;
}

.navbar-brand {
  font-family: Lustria;
}

.masterhead {
  min-height: 300px;
  border-radius: 0px !important;
  font-family: Great Vibes;
  background-size: cover !important;
}

.masterhead .masterhead-logo {
  padding-top: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.parallax {
  border-radius: 5px;
  height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.menu .category .header {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  font-family: Playball;
}

.menu .category.header {
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 50px;
}

.footer {
  color: #FFF;
  height: 300px;
  background-color: #A34926;
}

.footer .logo {
  font-family: Lustria !important;
}

.footer .social {
  display: flex;
  align-items: center;
}

.footer a {
  color: #FFF;
  text-decoration: none;
}
